@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto+Condensed:ital,wght@0,400;0,700;1,300;1,400&display=swap");

$mainBtnBackground: #f1f1f1;
$background: #c0d9ff;
$offTogledBtn: lighten($background, 5%);
$text: #1c54a8;
$button: #327def;
$white: #fff;
$sectionBackground: #eaf1fc;

#accessibilityBtn {
  width: 50px;
  height: 50px;
  background-color: $mainBtnBackground;
  position: fixed;
  right: 30px;
  bottom: 30px;
  border-radius: 50%;
  border: none;
  padding: 0.5rem;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}

#accessibilityBtnIcon {
  width: 30px;
  // outline: 2px solid red;
  // position: fixed;
  transform: translateY(0.1rem);
}

//// HEADER ////
.accessibility-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  &__language-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background-color: $white;
    z-index: 8997;
    padding: 0.3rem;
    border-radius: 1rem;
    width: 4rem;
    flex: 1;
    img {
      width: 24px;
      z-index: 8999;
    }

    &:hover {
      cursor: pointer;
    }

    .accessibility-language__slider {
      background-color: $button;
      width: 35px;
      height: 1.5rem;
      border-radius: 10px;
      position: absolute;
      top: 50%;
      left: 28%;
      z-index: 8998;
      opacity: 1;
      transition: 0.3s;
      &--eng {
        transform: translate(60%, -50%);
      }
      &--ro {
        transform: translate(-48%, -50%);
      }
    }
  }

  &__title-wrapper {
    flex: 4;
    display: flex;
    justify-content: center;
    font-size: 20px;
  }

  &__close-btn-wrapper {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    .close-btn {
      background: none;
      border: none;
      padding: 0;
      height: 18px;
    }
  }
}

// menu
#accessibilityMenu {
  background-color: $background;
  //   height: 40rem;
  // width: 480px;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  font-family: "Actor", sans-serif;
  font-size: 16px;
  color: $text;
}

.accessibility-main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

//content adjustment section
.accessibility-main__content-adjustments,
.accessibility-main__colors-adjustments,
.accessibility-main__tools {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  width: 100%;
  justify-content: stretch;
  align-items: stretch;
  background-color: $sectionBackground;
  padding: 1rem;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  width: 450px;
}

.accessibility-content__header,
.accessibility-color__header,
.accessibility-tools__header {
  grid-column: 1 / span 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// components
.accessibility-component__up-down-buttons {
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  height: 65px;
}

.up-down-buttons__name-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  img {
    width: 16px;
  }
}

.up-down-buttons__buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $background;
  border: none;
  border-radius: 10px;
  height: 35px;
  font-size: 16px;
  text-align: center;
}

.up-down-buttons__plus-btn-wrapper {
  background-color: $white;
  width: 30px;
  height: 20px;
  margin: 4px 8px;
  border-radius: 10px;
  position: relative;

  button {
    background: none;
    position: absolute;
    top: -2px;
    right: -2px;
    width: 30px;
    height: 20px;
    font-size: 16px;
    background-color: $button;
    border: none;
    color: $white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;

    img {
      width: 15px;
    }

    &:hover {
      top: 0;
      right: 0;
    }
  }
}

.up-down-buttons__minus-btn-wrapper {
  background-color: $white;
  width: 30px;
  height: 20px;
  margin: 4px 8px;
  border-radius: 10px;
  position: relative;

  button {
    background: none;
    position: absolute;
    top: -2px;
    right: 2px;
    width: 30px;
    height: 20px;
    font-size: 16px;
    background-color: $button;
    border: none;
    color: $white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;

    img {
      width: 15px;
    }

    &:hover {
      top: 0;
      right: 0;
    }
  }
}

// TOGGLE COMPONENT
.accessibility-component__toggle-container {
  background-color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.2rem;
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  min-height: 65px;
  max-height: 65px;

  img {
    width: 12px;
    // outline: 1px solid red;
    margin: 0 10px;
  }

  .toggle__name-container {
    display: flex;
    // outline: 2px solid salmon;
    line-height: 14px;
  }

  .toggle__name-wrapper {
    // outline: 1px solid pink;
  }
}

///
///
///
.toggle__btn {
  position: relative;
  width: 60px;
  height: 25px;
  display: flex;
  padding: 0.3rem 0.3rem;
  border-radius: 20px;
  background-color: $background;
  cursor: pointer;
  border: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
}

.toggle__btn::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 5px;
  width: 30px;
  height: 21px;
  border-radius: 15px;
  background-color: $offTogledBtn;
  // background-color: red;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24);
  transition: 0.2s;
}

.toggle__btn.on {
  background-color: $background;
}

.toggle__btn.on::before {
  transform: translateX(65%);
  background-color: $button;
}
//

.reset-btn {
  background: none;
  border: none;
  border-radius: 50%;
  padding: 0;
  // margin: 0;
  // width: 50px;
  height: 35px;
  // transform: translateY(-2px);
}
.reset-btn-img,
.close-btn-img {
  width: 100%;
  height: 100%;
  transform: translateY(2px);
}

/// TOOLS ///

.accessibility-tools__cursor-line {
  // display: flex;
  // justify-content: center;
  width: 300px;
  height: 10px;
  background-color: red;
  border-radius: 10px;
  position: absolute;
  z-index: 999999;
  pointer-events: none;
}

.accessibility-hidden {
  display: none;
}

////////
/// ///

.accessibility-flashlight__mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999999;
}

.accessibility-flashlight__hole {
  position: fixed;
  width: 100%;
  height: 150px;
  z-index: 999999;
}

.cursor {
  position: absolute;
  top: 100rem;
  left: 30px;
  width: 64px;
  height: 64px;
  background-image: url("https://cdn-icons-png.flaticon.com/512/9915/9915925.png");
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: 999999;
}

body * {
  // cursor: none;
}
